.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  flex: 0.2;
}

.sidebar .sidebar__select {
  text-align: center;
  padding: 1em 2rem;
  border-bottom: 1px solid black;
}

.sidebar .sidebar__select > select {
  border: none;
  background: none;
  outline: none;
  border: 1px solid #f4f5f0;
  width: 300px;
  padding: 0.8em 0.5em;
}

.popular_coutries {
}

.heading {
  background-color: #e6e7e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  font-size: small;
  font-family: "calibri", sans-serif;
}

.arrow_down_icon {
  cursor: pointer;
}

@media (max-width: 601px) {
  .sidebar {
    display: none;
  }
}

.flag_img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: center/cover no-repeat;
}

.countries {
  display: flex;
  background: #f5f5f0;
  border-bottom: 1px solid #d7d8d2;
  padding: 0.5rem 0.5rem;
}

.country_name {
  text-transform: uppercase;
}
